.new-collection{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250vh;
    background-color:  #2d2d2d;
   gap:10px
    
}

.new-collection h1{
    color: #a8741a;
    font-size: 35px;
    font-weight: 400;
    margin-top: 30px;

    

}
 .new-collection hr{
    width: 250px;
    height: 4px;
    border-radius: 10px;
    background-color: white;
    margin-top: 0px;
 }
 
 .collection{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  margin-top: 50px;
  gap:30px;
 
 }