*{
    padding: 0px;
    margin: 0px;
}
.heading{
    background-color:#d11e33;
    color: white;
    font-size: 14px;
    font-weight: 400;
    min-height: 0px;
    line-height: 21px; 
    display: flex;
    align-items: center;
    justify-content: center;
   width:1054px;
   height: 26px;
}