/* Product Modal */
.product-details {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
  }
  
  .product-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px;
  }
  
  .product-info {
    padding: 10px;
  }
  
  .product-info h5 {
    margin: 0;
    margin-bottom: 10px;
  }
  
  .color-options {
    margin-bottom: 10px;
  }
  
  .color-option {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
  }
  
  .size-options {
    margin-bottom: 10px;
   
  }
  
  .size-option {
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    display: inline-block;
  }
  
  .price {
    margin-bottom: 10px;
  }
  
  .price span {
    margin-right: 5px;
  }
  


  /* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  padding: 8px 12px;
  border-radius: 75%;
  background-color: #f0f0f0;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.pagination li a:hover {
  background-color: #ddd;
}

.pagination .active a {
  background-color: #313334;
  color: #fff;
}
