.item{
    width:350px

}
.item p{
    margin: 6px 0px;
    color: white;
    font-weight: 500;
   
}

.item-price{
    display: flex;
    gap: 20px;
    color: white;
}
.item-price-new{
    color:#a8741a;
    font-size: 20px;
    font-weight: 600px;
}

.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}
.item-price-neww{
    color: blue;
   
    font-size: 20px;
    font-weight: 600px;
}
.item-price-old{
    color:#a8741a;
    font-size: 20px;
    font-weight: 600px;
}